.heading{
    display: flex;
    align-items: start;
    gap: 10px;
}

.input-field{
    height: 100px;
    width: 300px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.submit-button{
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    font-size: large;
}